:root {
  --shadow: 0 2px 2px rgb(0 0 0/0.5)
}
@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

.animasi {
  /* Awalnya elemen akan disembunyikan */
  opacity: 0;
}

.animasi.active {
  /* Ketika kelas "active" ditambahkan, elemen akan diberikan animasi */
  animation: bounceIn 2s ease-in-out;
  opacity: 1;
}
body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  min-height: 4000px;
}

.hero {
  min-height: 100vh;
  color: black;
}

.hero h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero h4,
.hero p,
.hero h1 {
  text-shadow: var(--shadow);
}

.hero a {
  position: relative;
  color: #fd30e2;
  background-color: rgb(255, 255, 255);
}

.hero a:hover {
  background-color: #fd30e2;
  color: white;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(7.png);
  background-size: cover;
  z-index: -1;
  filter: opacity(50%);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.info {
  background-color: black;
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .card-header {
  border: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-footer {
  border: 1px solid #999;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid #999;
}

.info .alamat {
  font-size: 1.1rem;
}

.info h2 {
  color: #fd30e2;
  font-family: 'Sacramento';
  font-size: 5rem;
  font-weight: bold;
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: 'Sacramento', cursive;
  font-size: 3.2em;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.mynavbar .offcanvas {
  background-color: #fd30e2;
}


.home {
  background-size: cover;
  min-height: 100vh;
  margin-top: -6.5rem;
  padding-top: 15rem;
  padding-bottom: 6rem;
  position: relative;
}

.home .couple {
  margin-top: 50px;
}

.home .couple h3 {
  font-family: 'Roboto';
  font-size: 2.1rem;
}

.home .couple img {
  width: 100%;
  height: 160px;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(8.png);
  background-size: cover;
  z-index: -1;
  opacity: 50%;
  /* Menentukan tingkat transparansi untuk latar belakang. 1 berarti tidak transparan, 0 berarti sepenuhnya transparan. */
}

.home h2,
.home h3,
.home p,
.home a {
  position: relative;
  z-index: 1;
  /* Menempatkan teks dan link di atas latar belakang pseudo-element. */
  /* Atur warna teks sesuai kebutuhan. */
}
.quranku{
  font-family: 'Sacramento', cursive;
  font-size:20px;
  font-weight: bold;
}
.home h2,
.story h2,
.rsvp h2,
.gifts h2{
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: bold;
}

.arab{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 1.5rem;
}

.home h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
}

.story,
.rsvp,
.gifts,
.quran{
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  display: block;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.story p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.rsvp {
  background-color: black;
}

.rsvp h2 {
  color: #fd30e2;
  font-size: 4.5rem;
}

.rsvp form label {
  color: #fff;
}

.rsvp button {
  background-color: #fd30e2;
  color: black;
  border: 1px solid #fd30e2;
}

.rsvp button:hover {
  background-color: #fff;
  color: #fd30e2;
  border: 1px solid white;
}

.rsvp p {
  color: #fff;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: '';
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-img {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;

}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: white;
}

.timeline li .timeline-panel::before {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  right: -15px;
  top: 80px;
}

.timeline li .timeline-panel::after {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  right: -13px;
  top: 81px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}
