.simply-countdown {
    overflow: hidden;
    display: table;
    font-family: 'Arial', sans-serif;
    margin: auto;
    font-weight: bold;
}

.simply-countdown>.simply-section {
    width: 50px;
    height: 50px;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 10px;
    color: white;
    background: rgba(252, 48, 225, 0.385);
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

.simply-countdown>.simply-section .simply-amount,
.simply-countdown>.simply-section .simply-word {
    display: block;
    text-align: center;
}

.simply-countdown>.simply-section .simply-amount {
    font-size: 1.6rem;
}



/* laptop */
@media (max-width:992px) {
    html {
        font-size: 70%;
    }

    .simply-countdown>.simply-section {
        padding: 70px;
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-img {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel {
        width: 60%;
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
}


/* tablet */
@media (max-width:768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
    }

    .timeline li .timeline-img {
        width: 120px;
        height: 120px;
    }
}

/* hp */
@media (max-width:576px) {
    html {
        font-size: 60%;
    }

    .hero::before {
        width: 100%;
        height: 100%;
    }

    .simply-countdown>.simply-section {
        padding: 2px;
        margin: 3px;
    }

    .mynavbar .nav-link {
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
    }

    .timeline li .timeline-img {
        width: 90px;
        height: 90px;
    }

    .timeline li .timeline-panel {
        width: 60%;
    }

    .timeline li .timeline-panel::before {
        top: 45px
    }

    .timeline li .timeline-panel::after {
        top: 46px
    }
    .home .couple img{
        height: 95px;
    }
    .home {
        margin-top: -7rem;
    }
    .home .couple {
      margin-top: 45px;
    }
}
